footer.footer
	.container
		.footer__top
			p.footer__copy © IzziFit, 2022. Weight loss easier.
			.footer__links
				a.footer__link(href="#")
					img(src="img/svg/appstore-b.svg", alt="appstore")
				a.footer__link(href="#")
					img(src="img/svg/googleplay-b.svg", alt="googleplay")
			p.footer__desc.footer__desc--mob Our website services, content and products are for informational purposes only. IzziFit does not provide medical advice, diagnosis, or treatment.
			.footer__contacts
				a.footer__email(href="mailto:support@izzifit.app") support@izzifit.app
				.footer__socials
					a.footer__social(href="#")
						img(src="img/svg/fb.svg", alt="")
					a.footer__social(href="#")
						img(src="img/svg/insta.svg", alt="")
		p.footer__desc.footer__desc--desc Our website services, content and products are for informational purposes only. IzziFit does not provide medical advice, diagnosis, or treatment.