section.functions#start
	.container
		.functions__wrap.functions__wrap--1
			.functions__desc.js-functions-desc-1
				h2.functions__title.title Smart workouts & training plans
				p.functions__text.desc Over 
					span.color 500 personal exercises
					|, picked specifically for your needs. The exercise program is suitable for both beginners and specialists alike
				a.functions__btn.functions__btn--desc.btn.btn--big(href="https://apps.apple.com/us/app/izzifit-play-and-lose-weight/id1609221440" target="_blank") Get My Plan
			.functions__photos
				picture
					source(srcset="img/mobile_1@2x.png 2x", type="image/png")
					img.functions__photo.js-functions-photo-1-1(src="img/mobile_1.png 1x", alt="mobile", type="image/png")
				picture
					source(srcset="img/mobile_preview_1@2x.png 2x", type="image/png")
					img.functions__preview.js-functions-photo-1-2(src="img/mobile_preview_1.png 1x", alt="mobile", type="image/png")
			a.functions__btn.functions__btn--mob.btn.btn--big(href="https://apps.apple.com/us/app/izzifit-play-and-lose-weight/id1609221440" target="_blank") Get My Plan
		.functions__wrap.functions__wrap--2
			.functions__photos
				picture
					source(srcset="img/mobile_2@2x.png 2x", type="image/png")
					img.functions__photo.js-functions-photo-2-1(src="img/mobile_2.png 1x", alt="mobile", type="image/png")
				picture
					source(srcset="img/mobile_preview_2@2x.png 2x", type="image/png")
					img.functions__preview.js-functions-photo-2-2(src="img/mobile_preview_2.png 1x", alt="mobile", type="image/png")
			.functions__desc.js-functions-desc-2
				h2.functions__title.title Calorie calculator
				p.functions__text.desc A calorie calculator that helps you keep track of what you eat! Just enter all of your meals, and we would calculate the calories for you!
		.functions__wrap.functions__wrap--3
			.functions__desc.js-functions-desc-3
				h2.functions__title.title Release your energy
				p.functions__text.desc Do your best to get fit! Complete workouts to recieve amazing rewards, and turn your 
					span.color calories into energy! 
			.functions__photos
				picture
					source(srcset="img/mobile_3@2x.png 2x", type="image/png")
					img.functions__photo.js-functions-photo-3-1(src="img/mobile_3.png 1x", alt="mobile", type="image/png")
				picture
					source(srcset="img/mobile_preview_3@2x.png 2x", type="image/png")
					img.functions__preview.js-functions-photo-3-2(src="img/mobile_preview_3.png 1x", alt="mobile", type="image/png")