section.functions#start
	.container
		.functions__wrap.functions__wrap--1
			.functions__desc
				h2.functions__title.title Smart workouts & training plans
				p.functions__text.desc Over 
					span.color 500
					|  personal exercises
				a.functions__btn.functions__btn--desc.btn.btn--big(href="#") Get My Plan
			.functions__photos
				picture
					source(srcset="img/mobile_1@2x.png 2x", type="image/png")
					img.functions__photo(src="img/mobile_1.png 1x", alt="mobile", type="image/png")
				picture
					source(srcset="img/mobile_preview_1@2x.png 2x", type="image/png")
					img.functions__preview(src="img/mobile_preview_1.png 1x", alt="mobile", type="image/png")
			a.functions__btn.functions__btn--mob.btn.btn--big(href="#") Get My Plan
		.functions__wrap.functions__wrap--2
			.functions__photos
				picture
					source(srcset="img/mobile_2@2x.png 2x", type="image/png")
					img.functions__photo(src="img/mobile_2.png 1x", alt="mobile", type="image/png")
				picture
					source(srcset="img/mobile_preview_2@2x.png 2x", type="image/png")
					img.functions__preview(src="img/mobile_preview_2.png 1x", alt="mobile", type="image/png")
			.functions__desc
				h2.functions__title.title Calorie calculator
				p.functions__text.desc Personalized 
					span.color diet & healthy
					|  meals. Menus for&nbsp;fastest results. 10 meal plans with unlimited&nbsp;substitutions. 
		.functions__wrap.functions__wrap--3
			.functions__desc
				h2.functions__title.title Release your energy
				p.functions__text.desc Menus for fastest results. 10 meal plans with unlimited substitutions. Complete workouts to get 
					span.color amazing rewards.
			.functions__photos
				picture
					source(srcset="img/mobile_3@2x.png 2x", type="image/png")
					img.functions__photo(src="img/mobile_3.png 1x", alt="mobile", type="image/png")
				picture
					source(srcset="img/mobile_preview_3@2x.png 2x", type="image/png")
					img.functions__preview(src="img/mobile_preview_3.png 1x", alt="mobile", type="image/png")