section.game#train
	.container
		.game__wrap.game__wrap--1
			.game__photo
				picture
					source(srcset="img/game_pic_1@2x.png 2x", type="image/png")
					img.game__photo-main.js-game-photo-1-1(src="img/game_pic_1.png 1x", alt="promo", type="image/png")
				picture
					source(srcset="img/game_pic_2@2x.png 2x", type="image/png")
					img.game__photo-more-1.js-game-photo-1-2(src="img/game_pic_2.png 1x", alt="promo", type="image/png")
				picture
					source(srcset="img/game_pic_3@2x.png 2x", type="image/png")
					img.game__photo-more-2.js-game-photo-1-3(src="img/game_pic_3.png 1x", alt="promo", type="image/png")
			.game__info.js-game-desc-1
				h2.game__title.title.title--light Now it’s time for some fun!
				p.game__desc.desc.desc--light Ever felt bored while working out? With IzziFit, you can 
					span.color gameify your workouts
					|  by turning your calories into wheel spins! You can lose weight by having fun by participating in an engaging casual game.
		.game__wrap.game__wrap--2
			.game__info.js-game-desc-2
				h2.game__title.title.title--light Daily Tasks
				p.game__desc.desc.desc--light Complete daily tasks by doing exercises and 
					span.color improve your buidlings! 
					| Level up your gaming expirience by earning and spending points.
				a.game__btn.game__btn--desc.btn.btn--big(href="#") Train And Play
			.game__photo
				picture
					source(srcset="img/game_pic_4@2x.png 2x", type="image/png")
					img.game__photo-main.js-game-photo-2-1(src="img/game_pic_4.png 1x", alt="promo", type="image/png")
				picture
					source(srcset="img/game_pic_5@2x.png 2x", type="image/png")
					img.game__photo-more-1.js-game-photo-2-2(src="img/game_pic_5.png 1x", alt="promo", type="image/png")
			a.game__btn.game__btn--mob.btn.btn--big(href="#") Train And Play
		.game__wrap.game__wrap--3
			.game__photo.js-game-photo-3-1
				.game__item
					picture
						source(srcset="img/preview_3@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_3.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_4@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_4.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_2@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_2.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_11@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_11.jpg 1x", alt="promo", type="image/jpeg")
				.game__item.game__item--big
					picture
						source(srcset="img/preview_big_1@2x.png 2x", type="image/png")
						img.game__preview(src="img/preview_big_1.png 1x", alt="promo", type="image/png")
				.game__item
					picture
						source(srcset="img/preview_5@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_5.jpg 1x", alt="promo")
				.game__item
					picture
						source(srcset="img/preview_6@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_6.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_7@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_7.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_12@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_12.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_8@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_8.jpg 1x", alt="promo", type="image/jpeg")
				.game__item
					picture
						source(srcset="img/preview_9@2x.jpg 2x", type="image/jpeg")
						img.game__preview(src="img/preview_9.jpg 1x", alt="promo", type="image/jpeg")
			.game__info.js-game-desc-3
				h2.game__title.title.title--light Explore new&nbsp;levels
				p.game__desc.desc.desc--light Unlock new areas to explore and new 
					span.color challenges to complete
					| ! The more calories you burn, the more new worlds you get to explore! 