section.game#train
	.container
		.game__wrap.game__wrap--1
			.game__photo
				picture
					source(srcset="img/game_pic_1@2x.png 2x", type="image/png")
					img.game__photo-main(src="img/game_pic_1.png 1x", alt="promo", type="image/png")
				picture
					source(srcset="img/game_pic_2@2x.png 2x", type="image/png")
					img.game__photo-more-1(src="img/game_pic_2.png 1x", alt="promo", type="image/png")
				picture
					source(srcset="img/game_pic_3@2x.png 2x", type="image/png")
					img.game__photo-more-2(src="img/game_pic_3.png 1x", alt="promo", type="image/png")
			.game__info
				h2.game__title.title.title--light Now it’s time for some fun! 
				p.game__desc.desc.desc--light Personalized menus for fastest results. 10 meal plans with unlimited substitutions. Turn your calories into 
					span.color wheel spin.
		.game__wrap.game__wrap--2
			.game__info
				h2.game__title.title.title--light Release your energy
				p.game__desc.desc.desc--light Complete daily tasks and 
					span.color improve 
					| your&nbsp;buildings
				a.game__btn.game__btn--desc.btn.btn--big(href="#") Train And Play
			.game__photo
				picture
					source(srcset="img/game_pic_4@2x.png 2x", type="image/png")
					img.game__photo-main(src="img/game_pic_4.png 1x", alt="promo", type="image/png")
				picture
					source(srcset="img/game_pic_5@2x.png 2x", type="image/png")
					img.game__photo-more-1(src="img/game_pic_5.png 1x", alt="promo", type="image/png")
			a.game__btn.game__btn--mob.btn.btn--big(href="#") Train And Play
		.game__wrap.game__wrap--3
			.game__photo
				.game__item
					picture
						source(srcset="img/preview_5@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_5.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_5@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_5.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_4@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_4.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_3@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_3.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_2@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_2.jpg 1x", alt="promo", type="image/jpg")
				.game__item.game__item--big
					picture
						source(srcset="img/preview_big_1@2x.png 2x", type="image/png")
						img.game__preview(src="img/preview_big_1.png 1x", alt="promo", type="image/png")
				.game__item
					picture
						source(srcset="img/preview_6@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_6.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_7@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_7.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_8@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_8.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_9@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_9.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_10@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_10.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_11@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_11.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_12@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_12.jpg 1x", alt="promo", type="image/jpg")
				.game__item
					picture
						source(srcset="img/preview_5@2x.jpg 2x", type="image/jpg")
						img.game__preview(src="img/preview_5.jpg 1x", alt="promo", type="image/jpg")
			.game__info
				h2.game__title.title.title--light Explore new&nbsp;levels
				p.game__desc.desc.desc--light Personalized menus for fastest results. Turn your workouts into 
					span.color adventure.