.menu.js-fixed-menu
	img.menu__logo(src="img/svg/logo.svg", alt="")
	img.menu__logo.menu__logo--b(src="img/svg/logo-b.svg", alt="")
	ul.menu__list.nav
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#start") Start
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#features") Features
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#train") Train & Play
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#reviews") Reviews
	a.menu__btn.btn.btn--small(href="#") Get My Plan