.menu.js-fixed-menu
	img.menu__logo(src="img/svg/logo.svg", alt="")
	a.js-scroll(href="#top")
		img.menu__logo.menu__logo--b(src="img/svg/logo-b.svg", alt="")
	ul.menu__list.nav
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#top") Start
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#start") Features
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#train") Train & Play
		li.menu__item.nav__item
			a.nav__link.js-scroll(href="#reviews") Reviews
	a.menu__btn.btn.btn--small(href="https://apps.apple.com/us/app/izzifit-play-and-lose-weight/id1609221440" target="_blank") Get My Plan