header.promo
	.container
		h1.promo__title Weight loss game for women
		p.promo__desc Get fit while playing
		picture
			source(srcset="img/promo@2x.png 2x", type="image/png")
			img.promo__photo(src="img/promo.png 1x", alt="promo", type="image/png")
	.promo__bottom
		.container
			.promo__wrap
				.promo__links
					a.promo__link(href="#")
						img(src="img/svg/appstore.svg", alt="appstore")
					a.promo__link(href="#")
						img(src="img/svg/googleplay.svg", alt="googleplay")
				img.promo__code(src="img/svg/code.svg", alt="")