section.quote
	.container
		img.quote__ico(src="img/svg/quote.svg", alt="")
		h2.quote__title With IzziFit you can unlock your heroic potential and make yourself proud by staying healthy, looking great, and having fun by playing the game!
		p.quote__name Marta, Health Coach