section.result#result
	.container
		.result__wrapper
			.result__info.js-result-desc
				h2.result__title.title Weight loss easier
				p.result__desc.desc A few studies have proven that making a tedius exercise 
					span.color more fun can improve prouctivity. 
					| So what are you waiting for? Download izziFit now and get on your fitness journey!
			.result__photos.js-result-photos
				picture
					source(srcset="img/result_1@2x.jpg 2x", type="image/png")
					img.result__photo(src="img/result_1.jpg 1x", alt="result", type="image/png")
				picture
					source(srcset="img/result_2@2x.jpg 2x", type="image/png")
					img.result__photo.result__photo--2(src="img/result_2.jpg 1x", alt="result", type="image/png")