section.reviews#reviews
	.container
		h2.reviews__title.title Users love our plans
		p.reviews__desc.desc Here's what people are saying about IzziFit and stories
		.reviews__list
			.review.reviews__item
				p.review__name Angelina
				img.review__stars(src="img/svg/stars.svg", alt="")
				p.review__desc I absolutely love my transformation! I’ve always struggled with some extra weight, and I am so pleased to see how I am changing! I got a lot of compliments recently! And it’s all due to this amazing app!
			.review.reviews__item
				p.review__name Charlotte32
				img.review__stars(src="img/svg/stars.svg", alt="")
				p.review__desc When my husband saw me playing a game, he wanted to try it as well! Now both of us are doing exercises, eating healthy food, drinking water, and then playing a game, and we love it! And now we feel much more energized!
			.review.reviews__item
				p.review__name Madison C
				img.review__stars(src="img/svg/stars.svg", alt="")
				p.review__desc Are the developers planning to add new games? I like combining training and games so much that I want more and more new games and new characters!
		a.reviews__btn.btn.btn--big(href="#") Join To The Winners!